<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Intelligence Artificielle App</title>
 
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="../static/jumbotron-narrow.css" rel="stylesheet">

    <link href="../static/style.css" rel="stylesheet">
 
 
</head>
 
<body>
 
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active btn"><a href="#">Home</a>
                    </li>
                    <li role="presentation" class="btn"><a href="https://github.com/gxercavins"></a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">Recyclage des déchets</h3>
        </div>
 
        <div class="jumbotron">
            <h1>Chargement des déchets</h1>
            <p class="lead"></p>
	       <form id="upload-form" action="{{ url_for('upload') }}" method="POST" enctype="multipart/form-data">
            <input id="file-picker" type="file" name="file" accept="image/*" class="hidden" onchange="this.form.submit()">
            <label for="file-picker" class="btn btn-lg btn-success">Choisir un déchet</label>
		 </form>
        </div>
 
        <div class="row marketing">
            <div class="col-lg-6">
                <h4>L’environnement</h4>
                <p>est compris comme l'ensemble des composants naturels de la planète.</p>
 
                <h4>La planète</h4>
                <p>est un corps céleste orbitant autour du Soleil ou d'une autre étoile.</p> 
                
            </div>
 
            <div class="col-lg-6">
                <h4>L’écologie</h4>
                <p>est une science qui étudie les êtres vivants.</p>
 
                <h4>La nature</h4>
                <p>est tout ce qui n'est pas construit directement par l'homme.</p>
                
            </div>
        </div>
 
        <footer class="footer">
            <p></p>
        </footer>
 
    </div>
</body>
 
</html>

